[user]
  name = qazal
  email = qazal.software@gmail.com
[init]
  defaultBranch = master
[log]
  date = local
[core]
  editor = vim
[checkout]
  defaultRemote = upstream
[pager]
  diff = riff
  show = riff
  log = riff
[interactive]
  diffFilter = riff --color=on
[fetch]
  prune = true
[alias]
  destory = "!f() { \
    [ -d .git ] || { echo \"Not a Git repo\" >&2; exit 1; }; \
    git reflog expire --expire=now --all && \
    git gc --prune=now --aggressive; \
  }; f"
